# default configuration for IP report compatible with Bitmain IP Reporter
# https://support.bitmain.com/hc/en-us/articles/360009263654-Where-and-how-to-use-IP-Reporter
config bos 'ip_report'
	# enable (1) or dissable (0) reporting ip
	option enable '1'
	# message format with tags for replacement with actual data
	# supported tags: IP, MAC, HOSTNAME
	option format '${IP},${MAC}'
	# configuration of protocol with destination address for 'socat' utility
	option socat 'UDP-DATAGRAM:255.255.255.255:14235,broadcast'
